html,
body {
    min-width: 260px;
    overflow-x: hidden;
    white-space: nowrap;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
}

.logins {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: inherit;
    max-height: 217px; /* 7 x 31px login part*/
}

.part {
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.part:last-child {
    border-bottom: none;
}

.part > .badge:first-child {
    margin-left: 0;
}

.part.error {
    color: #f00;
    white-space: normal;
    padding: 7px;
}

.part.notice {
    color: #090;
    white-space: normal;
    padding: 7px;
}

.part.search {
    padding: 6px 28px 6px 6px;
    background-image: url("icon-search.svg");
    background-position: top 6px right 6px;
    background-repeat: no-repeat;
    background-size: 18px;
    background-color: #f7f7f7;
}

.part.search:focus-within {
    background-color: #fff;
}

.part.search > .hint {
    background-color: #66c;
    display: flex;
    align-items: center;
    line-height: 19px;
}

.part.search > .hint > .remove-hint {
    background-image: url("icon-bs-delete.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 12px;
    margin: 3px 0 3px 4px;
    width: 16px;
}

.part.search > input[type="text"] {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.part.login {
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 31px;
}

.logins:not(:hover):not(:focus-within) .part.login:first-child > .name {
    background-color: #f7f7f7;
}

.part.login:hover,
.part.login:focus {
    outline: none;
}

.part.login > .name:hover,
.part.login > .action:hover,
.part.login:focus > .name {
    background-color: #eee;
}

.part.login > .name {
    display: flex;
    width: 100%;
    height: 19px;
    padding: 6px;
}

.part.login > .name > .recent {
    background-image: url("icon-history.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 4px;
    width: 10px;
    margin-top: 2px;
}

.part.login > .action {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 19px;
    width: 30px;
    height: 19px;
    padding: 6px;
}

.past.login > .action:hover {
    background-color: #f00;
}

.part.login > .action.copy-password {
    background-image: url("icon-key.svg");
}

.part.login > .action.copy-user {
    background-image: url("icon-user.svg");
}

.part.login > .action.launch {
    background-image: url("icon-launch.svg");
    background-position-y: 5.5px;
}

.part.login em {
    color: #00c;
    font-style: normal;
}
